# SPDX-FileCopyrightText: 2025 highbrige-yayoi <hainu738@gmail.com>
# SPDX-License-Identifier: BSD-3-Clause

name: test
on: push
jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    strategy:
    matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3

      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/usb_device_checker/
          cd /root/ros2_ws
          bash -xv ./src/usb_device_checker/test/test_usb_device_checker.bash /root